@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
}


.CardsFollow {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-top: 2%;

}

.card {
    margin: 6px
}