/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
}

main {
  min-height: 80vh;
}

.welcomebox {
  position: absolute;
  z-index: 3333;
  width: 40%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: rgb(226, 178, 134); /* Fallback color */
  background-color: rgba(201, 166, 137, 0.45); /* Black w/opacity/see-through */
  border-radius: 60px;
}

.art {
  position: absolute;
  z-index: 2222;
  width: 75%;
  height: 90%;
  left: 4%;
  top: 5%;
  background: url(https://wallpaper.dog/large/5449058.jpg);
  border-radius: 30px;
  background-size: cover;
  filter: drop-shadow(0px 0px 94px rgba(0, 0, 0, 0.65));
}

.back {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  mix-blend-mode: normal;
  filter: blur(5px);
  background: url(https://wallpaper.dog/large/5449058.jpg);
}

