
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
}

main {
  min-height: 80vh;
}



.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

.small {
display: block;
line-height: 1.428571429;
color:black;
}